body{font-family: 'Roboto', sans-serif;}




.nav-background{background-color:#262B37;}

.about-container{background-color:#00BDBD;}

.education-container{background-color:#EEEEEE;}

.color-text{color:#FB857F;}

.circle{height:160px; width:160px;  background-color:#FB857F; border-radius:50%; text-align:center;}

.project-container{background-color:#2BB3DD;}

.size-image{height:200px; width:200px;}

.color{color:#FB857F;}

.card-size{height:220px; width:320px;}

.inputype-container{background-color:#474D5D;}
.size{font-size:72px;}

.inner-control{background-color:#585F73;}

.redtype{background-color:#FB857F;}
.redtype:hover{color:black!important;}

.footer-container{background:#2BB3DD;}

.circle-font{height:65px; width:65px; border-radius:50%; color:#2BB3DD; background:white; text-align:center; display:inline-block; padding:5px; font-size:42px;}

.circle-font:hover{background:#474D5D;}